%p#notice= notice


        

    
    
= @resource.title
= image_tag(@resource.uploaded_file.url, size: "280x140")
= @resource.price

%div{:class=>"row"}
  %div{:class=>"col-md-1"}
  %div{:class=>"col-md-10"}
    %div{:class=>"description_modal"}       
    Description:
    = @resource.description
     

=ui_button 'edit',  t(:edit),edit_product_path(@resource)

=ui_button 'back',  t(:back),products_path

=ui_button 'pdf',  t(:pdf), product_path(@resource, format: :pdf)


=ui_button 'print',  t(:print),:onclick=>"window.print()"