%DOCTYPE
%html
  %head
    = javascript_pack_tag "hello_react"
    %title 
      OLegStarosvitskij - 
      = yield(:title) || "The blog"

  = render partial: "shared/down"
  = render partial: "shared/navbar" 
%div{:id=>"modal-holder"}



%title
  = yield(:title)


= yield
