%DOCTYPE
%html
  %head
    /= current_user&.id
    - if only_admin
      = link_to "Admin", admin_admins_path
      = link_to 'Log out',  destroy_user_session_path, :method => :delete
      %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name=> "google-site-verification", :content=>"YN8vIiLRjn2JJWEHj2ptLmr_IGlhWQbP0II_sTyFieY"}
    = javascript_pack_tag "Root"
    %title
      = "KILO магазин одежды и обуви"

  = stylesheet_pack_tag "application", media: "all"
  = csrf_meta_tags
  /- if user_signed_in?


  /= yield
%div{:id=>"modal-holder"}
%div{:id=>"root"}
-# =render "devise/registrations/form_new"
-# =render "devise/sessions/form_new"
/=render "devise/registrations/form_new"
/=render "devise/sessions/form_new"
